@page
@model Johari.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Responses</h1>

<div class="boarder backgroundWhite container">
    <table id="DT_load" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <!--empty for checkboxes-->
                </th>
                <th>
                    Adjective
                </th>
                <th>
                    Description
                </th>
                <th>
                    Positive/Negative
                </th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts
{
    <script src="~/js/adjectives.js"></script>
}

