@page
@model Johari.Pages.Clients.ResponseExistsModel
@{
}

<h1 id="title">Responses</h1>
<p>You have submitted your responses!</p>
<p>Send 4 friends this link and ID.</p>
<a>https://joharihannahalex.azurewebsites.net/Friends</a>
<p>ID: @Model.clientObj.ClientID</p>
