@page
@model Johari.Pages.Clients.ResponseExistsModel
@{
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Response Submitted!</h1>
        Your unique user ID is @Model.clientObj.ClientID <br />
    </div>
    <div class="col-12 text-center">

        <p>Your 4 friends were automatically emailed</p>
        <p>You may also use this link and ID:</p>
        <a href="https://joharihannahalex.azurewebsites.net/Friends">Clicking Here</a>
        <p>And using ID: @Model.clientObj.ClientID</p>
    </div>
</div>

