@page
@model Johari.Pages.Admin.IndexModel
@using ApplicationCore.Models

@{
}

<h3>Select the client you would like to run a Johari Window for.</h3>
<br />
<form method="post">
    <div class="col-5">
        <div>
            @Html.DropDownListFor(m => m.clientObj.Clients.ClientID,
                                     Model.clientObj.ClientList,
                                     " - Please select a client - ",
                                     new { @class = "form-control", @id = "ddlClient" })
            <span class="text-danger" asp-validation-for="clientObj.Clients.ClientID"></span>
        </div>
        <br />
        <button type="submit" class="col-3 btn btn-primary form-control">Submit</button>
    </div>

    @{ if (Model.clientObj.Clients.ClientID != 0)
        {
            <h3 style="text-align:center">@Model.clientObj.Clients.FirstName @Model.clientObj.Clients.LastName</h3>
            <br />
            <table id="johari_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Open Adjective Matches</th>
                        <th>Blind Adjective Matches</th>
                    </tr>
                    <tr>
                        <th>Hidden Adjective Matches</th>
                        <th>Unknow Adjectives</th>
                    </tr>
                </thead>
            </table>
        }
    }
</form>

