@page
@model Johari.Pages.Admin.JohariWindowModel
@{
}

<h2 style="text-align:center">Johari Window for Client</h2>
<h3 style="text-align:center">FirstName LastName</h3>
<br />
<table id="johari_table" class="table table-bordered">
    <thead>
        <tr>
            <th>Open Adjective Matches</th>
            <th>Blind Adjective Matches</th>
        </tr>
        <tr>
            <th>Hidden Adjective Matches</th>
            <th>Unknow Adjectives</th>
        </tr>
    </thead>
</table>