@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/images/johariexample.png" />
        <br />
        <br />
    </div>
    <div class="col-12 text-center">
        <p>Learn about Dr. Page <a href="https://mdpage.org/">Here</a>.</p>
        <p>Learn more about the Johari Window <a href="https://en.wikipedia.org/wiki/Johari_window">Here</a></p>
    </div>
</div>